@media screen and (max-width: 991px) {
	.advantages.container-fluid,
	.services.container-fluid {
		padding: 55px 20px 55px;
		&:before {
			border-radius: 0;
			left: 0;
			right: 0;
		}
	}
	.advantages-slider,
	.delivery-slider {
		max-width: 360px;
	}

	.delivery-slider {
		.slick-list {
			margin: 0 -15px 32px;
		}
	}
	.services .delivery-slider .card {
		margin: 0 auto;
	}

	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
	.container-xxl {
		padding: 0;
	}

	a.navbar-brand {
		width: 126px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.nav-link {
		font-size: 24px;
		line-height: 222%;
		padding: 0;
		margin-bottom: 10px;
	}
	header {
		.navbar {
			padding-top: 15px;
			padding-bottom: 17px;
		}
		.navbar-nav {
			padding: 49px 0 26px;
		}

		.btn {
			padding: 23px 85px;
		}
	}

	.template-title {
		margin-bottom: 36px;

		h2 {
			font-size: 24px;
		}

		h3 {
			font-size: 16px;
		}

		&.col-lg-7 {
			margin-bottom: 56px;

			h2 {
				font-size: 24px;

				&:after {
					display: none;
				}
			}
		}
	}

	.first-screen {
		margin-bottom: 56px;
	}

	.first-screen-slider {
		.slick-slide {
			display: flex;
			height: calc(100vh - 72px);
			align-items: center;
			background-position: center;

			&:before {
				content: "";
				position: absolute;
				z-index: 1;
				background: linear-gradient(
					180deg,
					rgb(0 0 0 / 1%) 6%,
					rgb(18 18 18 / 8%) 63%
				);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		.container {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 2;
		}
	}

	.first-screen-title {
		font-size: 32px;
		margin-bottom: 11px;
		max-width: 285px;
	}

	.first-screen-subtitle {
		font-size: 16px;
		margin-bottom: 18px;
		max-width: 275px;
	}

	.calculation-form {
		padding: 49px 15px 13px;
		.input-box.has-checkbox {
			margin-bottom: 7px;
			padding-top: 4px;
		}
		.btn {
            max-width: 100%;
            width: 100%;
            padding: 19.6px 15px 19.6px 29px;
            .icon {
                margin: 0 -14px 0 70px;
            }
        }}


	.calculation__img {
		display: none;
	}

	#file-name {
		top: 0;
	}

	.card {
		.card-button-row {
			justify-content: center;
			.btn {
				width: 138px;
				padding: 10px 4px;
			}
		}
	}

	.about {
		.template-title::after {
			left: 50%;
		}
		.title-about {
			text-align: center;
		}
		.img-box {
			display: flex;
			justify-content: center;
			img {
				max-width: 350px;
				margin-top: 160px;
			}
		}

		&-descr {
			p {
				text-align: justify;
				font-size: 16px;
				font-weight: 300;
				line-height: 149.5%;
				width: 335px;
				margin: 0 auto;
			}
			span {
				font-size: 16px;
				font-weight: 400;
				line-height: 149.5%;
			}
		}
	}
	.questions {
		.template-title h2 {
			max-width: 335px;
			margin: 0 auto;
		}
		.row {
			gap: 28px;
		}

		.questions-form {
			width: 335px;
			padding: 38px 20px;
			margin: 0 auto;
		}
		.questions-title {
			text-align: center;
		}
		.questions-info {
			text-align: center;
			font-weight: 400;
		}
	}
}
