<footer>
<div class="container">
	<div class="row">
		<div class="footer-contact">
			<div class="footer-logo">
				<a href="index.html"
				><img src="assets/img/footer-logo.svg" alt="logo"
			/></a>
			</div>
			<address>
				<nav>
				<ul class="footer-list">
					  <li>
						8(800)600-18-69 
					  </li>
					  <li>
						<a href="mailto:info@cargoasia.info">info@cargoasia.info</a>
					  </li>
					  <li>
						Адрес в Китае:   
				浙江省金华市义乌市后宅街道洪华小区5
			栋一单元一楼RT789库房 高建军 电话
				15966660379
					  </li>
					</ul>
				  </nav>
			</address>
		</div>
	</div>
</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>