<footer>
<div class="container">
	<div class="row">
		<div class="footer-contact">
			<div class="footer-logo">
				<a href="index.html"
				><img src="assets/img/footer-logo.svg" alt="logo"
			/></a>
			</div>
			<address>
					<ul class="footer-list">
						<li>8(800)600-18-69 </li>
						<li><a href="mailto:info@cargoasia.info">info@cargoasia.info</a></li>
						<li>Адрес в Китае:  </li>
						<li>浙江省金华市义乌市后宅街道洪华小区5</li>
						<li>栋一单元一楼RT789库房 高建军 电话</li>
						<li>15966660379</li>
					</ul>	
					<div class="footer-nav">
						<a href="#" class="icon icon-instagram"></a>
						<a href="https://github.com/KatarginaKate" class="icon icon-git"></a>
						<a href="#" class="icon icon-telegram"></a>
						</div>	
			</address>
		</div>	
		<div class="footer-links">
			<div class="footer-info">
              <h5 class="links-title">Грузоперевозки</h5>
                 <a href="#">Цены и сроки</a>
                 <a href="#">Услуги</a>
                 <a href="#">О компании</a>
                 <a href="#">Контакты</a>
                 <a href="#">Оформить груз</a>
                 			</div>
			<div class="footer-info">
				<h5 class="links-title">Услуги</h5>
                <a href="#">Выкуп товара</a>
                <a href="#">Страховка груза</a>
                <a href="#">О компании</a>
                <a href="#">Аренда склада</a>
                <a href="#">Перевод денежных средств</a>
			</div>
			<div class="footer-info">
				<h5 class="links-title">Информация</h5>
                <a href="#">Отзывы</a>
                <a href="#">Требования к грузу</a>
                <a href="#">Договор-оферта</a>
                <a href="#">Как заключить договор</a>
                <a href="#">Способы оплаты услуг</a>
                <a href="#">Документы</a>
                <a href="#">Статьи</a>
			</div>
		</div>
	</div>
</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>